@import url("./vars.css");

.aboutContainer {
  width: 100%;
  /* border: 2px solid grey; */
  height: 100vh;
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}

.leftAboutContainer {
  width: 40%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.leftAboutContainer > div {
  width: 65%;
  height: 70%;
  /* border: 1px solid red; */
}
.leftAboutContainer > div > img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.rightAboutContainer {
  width: 60%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.aboutMe {
  font-weight: bolder;
  font-size: 1.3em;
  color: blue;
}
.rightAboutContainer > p {
  font-size: 2.1em;
}

/* Mobile View */

@media (max-width: 330px) {
  .aboutContainer {
    flex-direction: column;
  }
  .leftAboutContainer {
    width: 100%;
  }
  .rightAboutContainer {
    width: 100%;
  }
  .rightAboutContainer > p {
    font-size: 1.2em;
    text-align: left;
    padding: 0 2.5%;
  }
}

@media (min-width: 330px) and (max-width: 620px) {
  .aboutContainer {
    flex-direction: column;
  }
  .leftAboutContainer {
    width: 100%;
  }
  .leftAboutContainer > img {
    width: 60%;
  }
  .rightAboutContainer {
    width: 100%;
  }
  .rightAboutContainer > p {
    font-size: 1.2em;
    text-align: center;
  }
}

@media (min-width: 620px) and (max-width: 780px) {
  .aboutContainer {
    flex-direction: column;
  }
  .leftAboutContainer {
    width: 100%;
  }
  .leftAboutContainer > img {
    width: 50%;
  }
  .rightAboutContainer {
    width: 100%;
  }
  .rightAboutContainer > p {
    font-size: 1.3em;
    text-align: left;
  }
}

@media (min-width: 780px) and (max-width: 1120px) {
  .rightAboutContainer > p {
    font-size: 1.5em;
    text-align: left;
  }
}
