@import url("./vars.css");

.expContainer {
  width: 100%;
  height: 98vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.expHeader {
  padding: 4% 0 0 3%;
  font-size: 2.2em;
  text-align: center;
}

.expContent {
  display: flex;
  width: 100%;
  /* border: 1px solid orange; */
  height: 100%;
  justify-content: space-around;
}

.singleExp {
  width: 45%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid orange;
  margin-top: 3%;
}
.singleExp > img {
  width: 50%;
  height: 60%;
  background-color: var(--text-color);
  border-radius: 20%;
}
.singleExp > p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 2% 7%;
}

/* Mobile view */

@media (max-width: 330px) {
  .expContainer {
    padding-top: 10%;
  }
  .expContent {
    flex-direction: column;
    overflow: scroll;
    /* border: 2px solid yellow; */
    padding-bottom: 10%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .singleExp {
    width: 90%;
    height: 40%;
    margin: 0 auto 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
  }
  .singleExp > p {
    font-size: 1em;
    text-align: center;
    padding: 3% 13%;
  }

  .singleExp > img {
    width: 30%;
    height: 30%;
  }
}

@media (min-width: 330px) and (max-width: 620px) {
  .expContainer {
    padding-top: 10%;
  }
  .expContent {
    flex-direction: column;
    overflow: scroll;
    /* border: 2px solid yellow; */
    padding-bottom: 10%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .singleExp {
    width: 80%;
    height: 45%;
    margin: 0 auto 0 auto;
    border: 1px solid green;
    display: flex;
    justify-content: center;
  }
  .singleExp > p {
    font-size: 1em;
    text-align: center;
    padding: 2% 14%;
  }

  .singleExp > img {
    width: 35%;
    height: 40%;
  }
}

@media (min-width: 620px) and (max-width: 780px) {
  .expContainer {
    padding-top: 10%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .singleExp {
    width: 45%;
    height: 50%;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
  }
  .singleExp > p {
    font-size: 1em;
    text-align: center;
  }

  .singleExp > img {
    width: 50%;
    height: 40%;
  }
}

@media (min-width: 780px) and (max-width: 1120px) {
  .expContainer {
    padding-top: 10%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .singleExp {
    width: 40%;
    height: 70%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
  }
  .singleExp > p {
    font-size: 1.2em;
    text-align: center;
  }

  .singleExp > img {
    width: 50%;
    height: 50%;
  }
}
