@import url("./vars.css");

.homeContainer {
  width: 100%;
  height: 100vh;
  margin-top: 3.5%;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  color: var(--text-color);
}

.leftHomeSection {
  width: 50%;
  height: 100%;
  /* border: 5px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello {
  font-size: 5em;
}

.manoj {
  font-size: 4em;
}

.fullStack {
  font-size: 3em;
}

.rightHomeSection {
  /* border: 5px solid yellow; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightHomeSection > img {
  width: 60%;
  height: 65%;
}

/* Mobile View */

@media (max-width: 330px) {
  .homeContainer {
    width: 100%;
    margin-top: 7.5%;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .leftHomeSection {
    width: 100%;
    height: 30%;
    justify-content: flex-start;
  }

  .hello {
    font-size: 3em;
  }

  .manoj {
    font-size: 2em;
  }

  .fullStack {
    font-size: 1em;
  }

  .rightHomeSection {
    height: 70%;
    width: 100%;
  }
  .rightHomeSection > img {
    height: 78%;
    width: 85%;
  }
}

@media (min-width: 330px) and (max-width: 620px) {
  .homeContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
  }

  .leftHomeSection {
    width: 100%;
    height: 20%;
  }

  .hello {
    font-size: 3em;
  }

  .manoj {
    font-size: 2em;
  }

  .fullStack {
    font-size: 1em;
  }

  .rightHomeSection {
    height: 70%;
    width: 100%;
  }
  .rightHomeSection > img {
    width: 80%;
    height: 90%;
  }
}

@media (min-width: 620px) and (max-width: 780px) {
  .homeContainer {
    margin-top: 3.5%;
  }

  .hello {
    font-size: 3em;
  }

  .manoj {
    font-size: 2em;
  }

  .fullStack {
    font-size: 1em;
  }

  .rightHomeSection > img {
    width: 80%;
    height: 60%;
  }
}

@media (min-width: 780px) and (max-width: 1120px) {
  .homeContainer {
    width: 100%;
    margin-top: 3.5%;
  }

  .hello {
    font-size: 3em;
  }

  .manoj {
    font-size: 2em;
  }

  .fullStack {
    font-size: 1em;
  }

  .rightHomeSection > img {
    width: 80%;
  }
}
