@import url("./vars.css");

.homeContainer {
  width: 100%;
  height: 100vh;
  margin-top: 3.5%;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  color: var(--text-color);
}

.leftHomeSection {
  width: 50%;
  height: 100%;
  /* border: 5px solid orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */
}

.innerLeftHome {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello {
  font-size: 3em;
}

.manoj {
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: blue;
  }
}

.fullStack {
  font-size: 3em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.socialIcons {
  display: flex;
  /* border: 1px solid red; */
  width: 60%;
  justify-content: space-around;
  margin-top: 3%;
}
.socialIcons > a {
  font-size: 2em;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 40px grey;
  width: 10%;
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 1% 0;
  border-radius: 20%;
}

.insta:hover {
  color: rgb(234, 68, 104);
  transform: scale(1.2);
  box-shadow: 2px 2px 40px rgb(234, 68, 104);
}
.linked:hover {
  color: rgb(53, 186, 239);
  transform: scale(1.2);
  box-shadow: 2px 2px 40px rgb(53, 186, 239);
}
.git:hover {
  color: blue;
  transform: scale(1.2);
  box-shadow: 2px 2px 40px blue;
}
.whatsapp:hover {
  color: green;
  transform: scale(1.2);
  box-shadow: 2px 2px 40px green;
}

.rightHomeSection {
  /* border: 5px solid yellow; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightHomeSection > div {
  width: 60%;
  height: 65%;
}
.rightHomeSection > div > img {
  width: 100%;
  height: 100%;
  border-radius: 50% 20% 50% 20%;
}

/* Mobile View */

@media (max-width: 330px) {
  .homeContainer {
    width: 100%;
    margin-top: 7.5%;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .leftHomeSection {
    width: 100%;
    height: 30%;
    justify-content: flex-start;
  }

  .hello {
    font-size: 2em;
  }

  .manoj {
    font-size: 1.5em;
  }

  .fullStack {
    font-size: 1.3em;
  }

  .rightHomeSection {
    height: 70%;
    width: 100%;
  }

  .rightHomeSection > div {
    width: 70%;
    height: 70%;
  }
  .rightHomeSection > div > img {
    height: 100%;
    width: 100%;
    border-radius: 20%;
  }

  .socialIcons > a {
    width: 12%;
    box-shadow: none;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
}

@media (min-width: 330px) and (max-width: 620px) {
  .homeContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
  }

  .leftHomeSection {
    width: 100%;
    height: 20%;
  }

  .hello {
    font-size: 2.5em;
  }

  .manoj {
    font-size: 1.2em;
  }

  .fullStack {
    font-size: 1.3em;
  }

  .socialIcons > a {
    box-shadow: none;
  }

  .rightHomeSection {
    height: 70%;
    width: 100%;
  }
  .rightHomeSection > div {
    width: 80%;
    height: 70%;
  }
  .rightHomeSection > div > img {
    height: 100%;
    width: 100%;
    border-radius: 15%;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
}

@media (min-width: 620px) and (max-width: 780px) {
  .homeContainer {
    margin-top: 3.5%;
  }

  .hello {
    font-size: 2.5em;
  }

  .manoj {
    font-size: 1.8em;
  }

  .fullStack {
    font-size: 1.5em;
  }

  .rightHomeSection > img {
    width: 80%;
    height: 60%;
  }

  .socialIcons > a {
    width: 15%;
    box-shadow: none;
  }

  .rightHomeSection > div {
    width: 80%;
    height: 70%;
  }
  .rightHomeSection > div > img {
    height: 100%;
    width: 100%;
    border-radius: 15%;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  }
}

@media (min-width: 780px) and (max-width: 1120px) {
  .homeContainer {
    width: 100%;
    margin-top: 3.5%;
  }

  .hello {
    font-size: 2.5em;
  }

  .manoj {
    font-size: 1.5em;
  }

  .fullStack {
    font-size: 1.5em;
  }

  .rightHomeSection > img {
    width: 80%;
  }
  .socialIcons > a {
    width: 15%;
    box-shadow: 1px 1px 5px grey;
  }

  .rightHomeSection > div {
    width: 80%;
    height: 70%;
  }
  .rightHomeSection > div > img {
    height: 100%;
    width: 100%;
    border-radius: 15%;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
}
