@import url("./vars.css");

.homeContainer {
  width: 100%;
  height: 100vh;
  margin-top: 3.5%;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  color: var(--text-color);
}

.leftHomeSection {
  width: 50%;
  height: 100%;
  /* border: 5px solid orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */
}

.innerLeftHome {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello {
  font-size: 5em;
}

.manoj {
  font-size: 3.5em;
}

.fullStack {
  font-size: 3em;
}

.socialIcons {
  display: flex;
  /* border: 1px solid red; */
  width: 60%;
  justify-content: space-around;
  margin-top: 3%;
}
.socialIcons > a {
  font-size: 2em;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 40px grey;
  width: 10%;
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 1% 0;
  border-radius: 20%;
}

.insta:hover {
  color: rgb(234, 68, 104);
  transform: scale(1.2);
}
.linked:hover {
  color: rgb(53, 186, 239);
  transform: scale(1.2);
}
.git:hover {
  color: blue;
  transform: scale(1.2);
}
.whatsapp:hover {
  color: green;
  transform: scale(1.2);
}

.rightHomeSection {
  /* border: 5px solid yellow; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightHomeSection > img {
  width: 60%;
  height: 65%;
}

/* Mobile View */

@media (max-width: 330px) {
  .homeContainer {
    width: 100%;
    margin-top: 7.5%;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .leftHomeSection {
    width: 100%;
    height: 30%;
    justify-content: flex-start;
  }

  .hello {
    font-size: 3em;
  }

  .manoj {
    font-size: 2em;
  }

  .fullStack {
    font-size: 1em;
  }

  .rightHomeSection {
    height: 70%;
    width: 100%;
  }
  .rightHomeSection > img {
    height: 78%;
    width: 85%;
  }

  .socialIcons > a {
    width: 12%;
    box-shadow: none;
  }
}

@media (min-width: 330px) and (max-width: 620px) {
  .homeContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
  }

  .leftHomeSection {
    width: 100%;
    height: 20%;
  }

  .hello {
    font-size: 3em;
  }

  .manoj {
    font-size: 2em;
  }

  .fullStack {
    font-size: 1em;
  }

  .rightHomeSection {
    height: 70%;
    width: 100%;
  }
  .rightHomeSection > img {
    width: 80%;
    height: 90%;
  }
}

@media (min-width: 620px) and (max-width: 780px) {
  .homeContainer {
    margin-top: 3.5%;
  }

  .hello {
    font-size: 3em;
  }

  .manoj {
    font-size: 2em;
  }

  .fullStack {
    font-size: 1em;
  }

  .rightHomeSection > img {
    width: 80%;
    height: 60%;
  }

  .socialIcons > a {
    width: 15%;
  }
}

@media (min-width: 780px) and (max-width: 1120px) {
  .homeContainer {
    width: 100%;
    margin-top: 3.5%;
  }

  .hello {
    font-size: 3em;
  }

  .manoj {
    font-size: 2em;
  }

  .fullStack {
    font-size: 1em;
  }

  .rightHomeSection > img {
    width: 80%;
  }
  .socialIcons > a {
    width: 15%;
  }
}
