@import url("./vars.css");

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2% 2%;
}

.logo {
  width: 30%;
  /* border: 5px solid orange; */
  height: 100%;
  padding-top: 0.3%;
  font-weight: bolder;
  font-size: 2em;
}
.logo:hover {
  cursor: pointer;
  color: aquamarine;
}
.navigations {
  padding-top: 0.5%;
  /* border: 5px solid orange; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.navigations > a {
  font-weight: bolder;
  font-size: 1.5em;
  cursor: pointer;
}
.navigations > a:hover {
  text-shadow: 1px 1px 25px grey;
  color: blue;
}

.mobNavigations {
  display: none;
}

.navToggleBtn {
  display: none;
}

/* Mobile screen */

@media (max-width: 330px) {
  nav {
    justify-content: space-between;
    padding: 3% 2%;
  }
  .navigations {
    display: none;
  }

  .logo {
    padding-top: 2%;
  }
  .navToggleBtn {
    /* border: 5px solid orange; */
    display: block;
    width: 10%;
  }

  .mobNavigations {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 100vh;
  }

  .mobNavigations > a {
    padding-top: 15%;
    font-weight: bolder;
    font-size: 2em;
  }
}

@media (min-width: 330px) and (max-width: 620px) {
  nav {
    justify-content: space-between;
    padding: 3% 3%;
  }
  .navigations {
    display: none;
  }

  .logo {
    padding-top: 1%;
  }
  .navToggleBtn {
    /* border: 5px solid orange; */
    display: block;
    width: 10%;
  }

  .mobNavigations {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 100vh;
  }

  .mobNavigations > a {
    padding-top: 8%;
    font-weight: bolder;
    font-size: 2em;
  }
}

@media (min-width: 620px) and (max-width: 780px) {
  nav {
    justify-content: space-between;
    padding: 3% 4%;
  }
  .navigations {
    display: none;
  }

  .logo {
    padding-top: 1%;
  }
  .navToggleBtn {
    /* border: 5px solid orange; */
    display: block;
    width: 10%;
  }

  .mobNavigations {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 100vh;
  }

  .mobNavigations > a {
    padding-top: 8%;
    font-weight: bolder;
    font-size: 2.5em;
  }
}
