.projectContainer {
  width: 100%;
  /* border: 2px solid orange; */
  height: 85vh;
  background-image: radial-gradient(
    circle,
    #255092,
    #2762b1,
    #2364ad,
    #237ad0,
    #1a92f4
  );
  padding-bottom: 1%;
}

::-webkit-scrollbar {
  display: none;
}

/* data.jsx */

.projectHeader {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 3%;
  gap: 2% 2%;
  flex-wrap: wrap;
  margin-top: 3%;
  /* border: 1px solid red; */
  overflow: scroll;
}

.imageContainer {
  width: 31%;
  height: 40%;
}

.imageContainer > img {
  width: 100%;
  height: 100%;
}

/* Mobile View */

@media (max-width: 330px) {
  .projectHeader {
    text-align: center;
    font-size: 2em;
  }
  .imageContainer {
    margin-top: 3%;
    width: 90%;
    height: 30%;
    margin: 0 auto 0 auto;
  }

  .imageContainer > img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 330px) and (max-width: 620px) {
  .projectHeader {
    text-align: center;
    font-size: 2em;
  }
  .imageContainer {
    width: 90%;
    height: 30%;
    margin: 2% auto 0 auto;
  }

  .imageContainer > img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 620px) and (max-width: 780px) {
  .projectHeader {
    font-size: 2em;
  }
  .imageContainer {
    width: 45%;
    height: 30%;
    margin: 2% auto 0 auto;
  }

  .imageContainer > img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 780px) and (max-width: 1120px) {
  .projectHeader {
    font-size: 2em;
  }
  .imageContainer {
    width: 45%;
    height: 30%;
    margin: 2% auto 0 auto;
  }

  .imageContainer > img {
    width: 100%;
    height: 100%;
  }
}
